<h1><%= @list.name %></h1>
<%= link_to "add film", new_list_bookmark_path(@list) %>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.movie.title %>
    <%= bookmark.comment %>
    <%= link_to "Delete",bookmark_path(bookmark),method: :delete,data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
